body {
    font: 400 1em/1.8 PingFang SC, Avenir, Tahoma, Arial, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.page-wrapper {
    position: relative;
    min-width: 1440px;
}

.page-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vw * 167 / 480);
    background: url(../image/banner-bg.jpg) no-repeat center / contain;
}

.banner-logo {
    position: absolute;
    top: calc(20 * (100vw / 1920));
    left: 24%;
    width: calc(112 * (100vw / 1920));
}

.banner-pic {
    position: absolute;
    top: calc(155 * (100vw / 1920));
    left: 30%;
    width: calc(729 * (100vw / 1920));
}

.page-mainer {
    position: relative;
    top: calc(546 * (100vw / 1920));
    margin: 0 auto;
    background: linear-gradient(#EFEFEF, 3%, #F9F9F9);
}

@media screen and (max-width: 1440px) {
    .page-banner {
        width: 1440px;
        height: 501px;
    }

    .banner-logo {
        top: 15px;
        width: 84px;
    }

    .banner-pic {
        top: calc(155 * 0.75px);
        width: calc(729 * 0.75px);
    }

    .page-mainer {
        top: calc(546 * 0.75px);
    }
}

.mainer-border {
    margin: 0 auto;
    width: 1074px;
    height: 19px;
    background: url(../image/mainer-border.png) center / contain;
}

.border-bottom {
    margin-top: -3.0px;
}

.mainer-container {
    position: relative;
    margin: 0 auto;
    margin-top: -1.7px;
    width: 1000px;
    background: #FFFFFF;
    border: 6px solid #E2E2E2;
}

.container-hd {
    height: 276px;
}

.hd-logo {
    position: absolute;
    top: 31px;
    left: 26px;
    width: 60px;
}

.hd-title {
    margin-top: 92px;
    margin-bottom: 31px;
    line-height: 35px;
    font-family: FZLTHJW;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    color: #000000;
    white-space: nowrap;
}

.hd-subtitle {
    margin-left: 104px;
    margin-right: 104px;
    line-height: 26px;
    text-indent: 30px;
    /* 设置首行缩进 */
    font-family: FZLTHJW;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}

.container-bd {
    /* position: relative; */
    background-color: #F7F7F7;
    text-align: center;
    font-size: 0;
}

.lesson-part {
    position: relative;
}

.card-zhiye,
.card-jiuye {
    position: absolute;
    top: 32px;
    right: 59px;
    width: 254px;
    height: 220px;
}

.bd-title,
.bd-subtitle {
    display: flex;
    align-items: flex-end;
    font-size: 0;
}

.bd-title-img {
    margin-left: 20px;
    margin-top: 24px;
    width: 60px;
    height: 174px;
}

.bd-title-txt {
    margin-left: 16px;
    margin-bottom: 31px;
    width: 512px;
    height: fit-content;
    font-size: 16px;
    font-family: FZLTHJW;
    font-weight: normal;
    color: #000000;
    line-height: 26px;
    text-align: left;
}

.bd-subtitle {
    margin-top: 40px;
}

.bd-subtitle-img {
    margin-top: 0;
    margin-left: 29px;
    width: 42px;
    height: 60px;
}

.bd-subtitle-txt {
    margin-left: 27px;
    padding-top: 12px;

    .bst-title {
        line-height: 21px;
        font-size: 22px;
        font-family: FZLTHJW;
        font-weight: 600;
        color: #000000;
        text-align: left;
    }

    .bst-subtitle {
        margin-top: 10px;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #333333;
        line-height: 17px;
    }
}

.bd-list {
    display: flex;
    margin-left: 27px;
    margin-top: 22px;
}

.bd-item {
    margin-right: 31px;
    width: 290px;
    height: 212px;
    background: url(../image/card-bg.png) center / 100%;

    .bd-item-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 13px;
    }

    .bd-item-name {
        font-size: 18px;
        font-family: FZLTHJW;
        font-weight: 600;
        color: #000000;
        line-height: 18px;
    }

    .bd-item-txt {
        margin: 0 auto;
        margin-top: 10px;
        width: 263px;
        font-size: 14px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
        line-height: 20px;
        text-align: left;
    }
}

.bd-item:last-child {
    margin-right: 0;
}

.lesson-card {
    border: 1px dashed #e6e6e6e8;
    background: url(../image/lesson-rxjava.jpg) center / 100%;
}

.practice-card {
    border: 1px dashed #e6e6e6e8;
    background: url(../image/lesson-wenda.jpg) center / 100%;
}

.bd-cborder {
    width: 936px;
    margin-top: 40px;
}

.practice-part {
    position: relative;
}

.bd-ft {
    margin-top: 21px;
    margin-left: 759px;
    padding-bottom: 22px;
    width: 200px;
    font-size: 14px;
    font-family: FZLTHJW;
    font-weight: normal;
    color: #666666;
    text-align: right;
}


.ft-hd {
    /* display: flex; */
    font-size: 0;
}

.ft-hd-img {
    width: 60px;
    margin-left: 20px;
    margin-top: 25px;
    vertical-align: top;
}

.ft-hd-content {
    display: inline-block;
    margin-left: 16px;
    padding-top: 37px;
    text-align: center;

    .fhc-title {
        font-size: 30px;
        font-family: FZLTHJW;
        font-weight: 600;
        color: #000000;
        line-height: 35px;
    }

    .fhc-mainer {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
    }
}

.fhc-mainer-present {
    position: relative;
    margin-left: 37px;
    width: 476px;
    height: 237px;
    background: url(../image/prize_03.jpg) center / 100%;

    .fmp-txt {
        position: absolute;
        top: 240px;
        left: 10px;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
    }
}

.fmt-blessing {
    width: 351px;
    /* height: 94px; */
    font-size: 14px;
    font-family: FZLTHJW;
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
    line-height: 26px;
    text-align: left;
}

.fmt-txt {
    font-size: 12px;
    font-family: FZLTHJW;
    font-weight: normal;
    color: #000000;
    /* line-height: 26px; */
    text-align: left;
}

.fmt-time {
    margin-top: 12px;
}

.fmt-rule {
    display: flex;
    /* margin-top: 5px; */

    .fmt-rule-txt {
        /* margin-bottom: 5px; */
        width: 290px;
    }

    .fmt-rule-txt:last-child {
        margin-bottom: 0;
    }

}

.ft-submit {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 56px;

    .submit-textarea {
        position: relative;
        /* margin: 0 auto; */
        width: 650px;
        height: 86px;
        border: 1px solid #DBDBDB;
    }

    .textarea-leftbg {
        position: absolute;
        top: 0;
        left: 0;
    }

    .textarea-rightbg {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .textarea-input {
        padding: 10px;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #666666;
        line-height: 22px;
    }

    .submit-btn {
        padding: 21px 42px;
        width: 150px;
        height: 86px;
        background: linear-gradient(0deg, #EBEBEB, #FAFAFA);
        border: 1px solid #DBDBDB;
        border-left: none;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #666666;
        line-height: 22px;
        cursor: pointer;
    }
}

.ft-messageboard {
    position: relative;
    padding: 20px;
    height: 520px;
    width: 100%;

    .messageboard-bg {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .card-item {
        position: absolute;
        width: 320px;
        height: 158px;
        /* 使用渐变创建横线效果 */
        background-image: linear-gradient(rgba(213, 214, 234, 0.9) 0px, transparent 1px);
        /* 设置横线的间距和高度  */
        background-size: 100% 23px;
        background-color: #F0F5FF;
        border: 1px solid rgba(213, 214, 234, 0.9);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
        z-index: 0;
        cursor: pointer;
        user-select: none;
    }

    .card-bg-left {
        position: absolute;
        top: -16px;
        left: -15px;
        width: 44px;
        height: 39px;
        user-select: none;
    }

    .card-bg-right {
        position: absolute;
        top: -16px;
        right: -15px;
        width: 42px;
        height: 43px;
        user-select: none;
    }

    .card-title {
        margin-top: 20px;
        margin-left: 17px;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
        line-height: 26px;
        text-align: left;
    }

    .card-txt {
        margin: 0 17px;
        font-size: 14px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
        line-height: 26px;
        text-align: left;
    }

    .card-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.container-sider {
    position: absolute;
    right: 0;
    top: 262px;
    width: 107px;
    font-size: 0;
    transform: translateX(113px);
}

.sider-img {
    width: 76px;
    height: 33px;
}

.sider-list {
    position: relative;
    margin-left: 27px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
}

.sider-list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 76px;
    height: 7px;
    transform: translateY(100%);
    background: url(../image/nav-after-bg.png);
}

.sider-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;

    .sider-item-txt {
        font-size: 14px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
    }
}

.sider-item:last-child {
    border-bottom: none;

    .sider-item-txt {
        color: #CF000D;
    }
}

.sider-item:hover .sider-item-txt {
    color: #CF000D;
}

.page-footer {
    position: relative;
    top: 546px;
    padding-top: 50px;
    padding-bottom: 40px;
    background: #F9F9F9;


    .page-footer-title {
        text-align: center;
        font-size: 16px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
        line-height: 26px;
    }

    .page-footer-copyright {
        text-align: center;
        font-size: 12px;
        font-family: FZLTHJW;
        font-weight: normal;
        color: #000000;
        line-height: 26px;
    }
}